@charset "UTF-8";

*{
   margin: 0%;
   padding: 0%; 
   font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: lightgray;  
}

header{
    background-color: gray;
    text-align: center;
    box-shadow: 2px 1px 3px 4px rgba(0, 0, 0, 0.129);
}

header h1{
    color: rgb(51, 51, 51);
    padding: 20px 0px 35px 0px;
}

#burguer{
    color: lightgray; 
    background-color: rgb(51, 51, 51);
    display: block;
    margin: auto;
    padding: 7px;
    cursor: pointer;
}

#burguer:hover{
    color:white;
    background-color: black;
    transition-duration: 1s;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
    text-align: center;
}

menu a{
    display: block;
    color: white;
    background-color: rgb(78, 78, 78);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border-top: 2px solid gray ;
}

menu a:hover{
    color:white;
    background-color: black;
    transition-duration: 1s;
}

main{
    background-color: white;
    max-width: 90vw ;
    min-width: 270px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

article h2{
    margin: 20px;
    margin-top: 10px;
    text-align: left;
}

article p{
    text-align: justify;
    text-indent: 1.5em;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 1.1em;
}



