@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+CL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --color-1: white;
    --color-2: lightgray;
    --color-3: black;
    --color-4: rgba(0, 0, 0, 0.310);

    --font-auto:  "Playwrite AU NSW", cursive;
    --font-destaque:   "Righteous", sans-serif;
}


*{
    background-size: cover;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--color-1);
    font-family: var(--font-auto);
    font-weight: bold;
    
}

header{
    background-color: var(--color-3);
    min-height: 150px;
    padding-top: 60px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
header h1{
    color: var(--color-1); 
    font-family: var(--font-destaque);
    font-size: 3.7em;
    text-align: center;
}
header p{
   color: var(--color-1);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 1em;
   padding-top: 10px;
   text-align: center; 
}
header p a{
    color: var(--color-1);
    text-decoration: none;
}
header p a:hover{
    color: var(--color-2);
    text-decoration: underline;
}

main{
    font-size:1.2em ;
    padding: 0px;
    text-align: left;
    line-height: 2.6em;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.310);
}
main article{
    background-color: var(--color-1);
    padding: 40px 0px 40px 3px;
    max-width: 83vh;
    min-width: 170px;
   
}
section{
    background-color: var(--color-4);
    color: var(--color-1);
    max-width: 83vh;
    min-width: 170px;
}

.bluesky{
    background-image: url(../images/Cloud\ Blue\ Sky\ Photo\ Shoot\ Backdrop\ MA10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 0px 40px 3px;
}
.redsky{
    background-image: url(../images/photorealistic-style-clouds.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 0px 40px 3px;
}
.children{
    background-image: url(../images/little-boy-runs-green-field.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 0px 40px 3px;
}

footer{
    background-color: var(--color-3);
    color: var(--color-1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

footer a{
    color: var(--color-1);
    text-decoration: none;

}
footer a:hover{
    color: var(--color-2);
    text-decoration: underline;
}