@charset "UTF-8";

:root {
    --color00: white;
    --color01: #d7f7ff;
    --color02: #60ddff;
    --color03: #006a85;
    --color04: #6bdfff;
    --color05: #0089af;
  }

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: var(--color01);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  height: 100vh;
  width: 100vw;
}

p{
  text-indent: 1em;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6{
  text-indent: 0.5em;
  margin-bottom: 10px;
  line-height: 1.2em;
  text-align: left;
}

header, section.Normal{
  background-color: var(--color05);
  color: var(--color00);
  padding: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.156);
}

section.Flex{
  background-color: var(--color01);
  padding: 20px;

  display: flex;
  flex-flow: column nowrap;
}

article.Text-Media{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article.Media-Text{
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
}

article > div.Text{
  background-color: var(--color00);
  padding-top: 10px;
  flex: 1 1 500px;
}
article > div.Image, article > div.Video{
  background-color: var(--color00);
  flex: 1 1 500px;
  padding: 10px;
}

div.Image > img{
  display: block;
  margin: auto;
}

div.Video > iframe{
  display: block;
  margin: auto;
  width: 90%;
}


 




